{% extends 'common.html' %}
{% load static %}

{% block content %}

<!-- Login Page Start -->
<div class="inner-page-wrapper contact-wrapper">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <div class="contact-text-container">

                    <h2 class="text-center">
                        Login
                    </h2>

                    <br>

                    <!-- Messages -->
                    {% for m in messages %}
                        <div class="alert alert-info text-center">
                            {{ m }}
                        </div>
                    {% endfor %}


                    <!-- Login Form -->
                    <form method="POST" action="">

                        {% csrf_token %}

                        <!-- Username -->
                        <div class="form-group">

                            <label for="email">
                                Username
                            </label>

                            <input
                                id="email"
                                name="email"
                                type="text"
                                class="form-control form-item"
                                placeholder="Enter username"
                                required>

                        </div>


                        <!-- Password -->
                        <div class="form-group">

                            <label for="password">
                                Password
                            </label>

                            <input
                                id="password"
                                name="password"
                                type="password"
                                class="form-control form-item"
                                placeholder="Enter password"
                                required>

                        </div>


                        <!-- Submit -->
                        <div class="form-group text-center">

                            <button
                                type="submit"
                                class="btn btn-1">

                                Login

                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
<!-- Login Page End -->

{% endblock %}